body {
font-family: 'Roboto', sans-serif;
color: #434455;
font-size: 16px;
font-style: normal;
background-color: #FFF;
line-height: 1.5;
font-weight: 400;
letter-spacing: 0.02em;
width: 1440px;
}

h1, h2, h3, h4, h5, h6, p {
padding: 0;
}

.logo {
  color: #4D5AE5;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-decoration: none;
}

.logo-studio-header {
  color: #2E2F42;
}


.menu-link {
  color: #2E2F42;
  font-weight: 500;
  text-decoration: none;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  text-decoration: none;
  color: #434455;
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active,
.contacts-link:hover,
.contacts-link:focus {
  color: #404BBF;
}

.hero {
  background-color: #2E2F42;
  padding: 188px 472px;

}

.hero-name {
  color: #FFF;
  text-align: center;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  width: 496px;
  text-align: center;
}

.hero-button {
  background-color: #4D5AE5;
  color: #FFF;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: 1.5;
  margin: 48px 163px 0 164px;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}

.name-section, 
.name-list {
  color: #2E2F42;
  letter-spacing: 0.02em;
}


.name-list {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.name-section {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

.our-team {
  background-color: #F4F4FD;
}

.our-team li {
  background-color: #FFF;
}

.portfolio li {
  border: 1px solid #E7E9FC;
}

.end-page {
  background-color: #2E2F42;
  color: #F4F4FD;
}

.logo-studio-footer {
  color: #F4F4FD;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-text {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  border-bottom: 1px solid #E7E9FC;
}

.about-us
.our-team
.portfolio {
  padding: 120px; 156px;
}